* {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: rgb(248, 238, 219); 
    color: rgba(70, 25, 11, 0.895); 
    font-size: 1rem; /* Относительные единицы для текста */
    font-weight: 400;
    line-height: 1.6; /* Межстрочный интервал */
    text-align: justify; /* Выравнивание текста по ширине */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    padding: 10px;
}

h1 {
    font-style: italic; /* Курсив */
    font-size: 1.9375rem; /* 31px в относительных единицах */
    font-weight: 700; /* Жирность */
    text-align: center;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    text-align: left;
    color: rgba(100, 29, 7, 0.895);
}

span {
    color: #d38c1b; /* Шестнадцатеричный цвет */
}

p {
    margin-bottom: 1em; /* Расстояние между элементами текста */
    color: hsla(15, 55%, 25%, 1); /* Цвет текста с прозрачностью */
}

ul li:nth-child(even) { /* Чётные элементы */
    background-color: #f1e3d6;
    color: rgb(205, 129, 104);
}


ul li:nth-child(odd) { /* Нечётные элементы */
    background-color: #e9d3b6;
    color: hsla(15, 55%, 25%, 1);
}

a {
    color: #be7901; /* Цвет для ссылок */
    text-decoration: none; /* Убирает подчеркивание */
    text-shadow: 1px 1px 0 #211402; 
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

a:hover {
    color: #be7901; /* Цвет при наведении */
    text-decoration: underline; /* Подчеркнутый текст при наведении */
    text-shadow: none;
}

img[loading="lazy"] {
    opacity: 0.5; /* Первоначальная прозрачность */
    transition: opacity 0.3s ease; /* Плавное отображение изображений */
}

img[loading="lazy"].loaded {
    opacity: 1; /* Полное проявление при загрузке */
}

.flex-container {
    display: flex; /* Включение Flexbox */
    justify-content: space-between; /* Равномерное распределение по горизонтали */
    align-items: flex-start; /* элементы располагаются с начала флекс-контейнера, выравнивание по левому краю*/
    gap: 10px; /* Расстояние между элементами */
    flex-wrap: wrap; /* Перенос элементов при маленьком экране */
}

.flex-item {
    flex: 1 1 calc(33.333% - 20px); /* Элемент занимает доступное пространство, сохраняя пропорции */
    box-sizing: border-box; /* Включает отступы и границы в общую ширину и высоту */
    padding: 5px;
    margin: 0 auto; /* Центрирует элемент по горизонтали */
    position: relative;
}

.flex-item figure {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border: 2px solid #331306;
    border-radius: 0.625em;
    width: 100%; /* Фигура занимает всю ширину родительского контейнера */
    gap: 10px;
}

.flex-item img {
    width: 100%; 
    height: 25em; /* Фиксированная высота изображения */
    padding: 5px; /* Отступ внутри вокруг картинки*/
    background-color: rgba(234, 196, 166, 0.3); /* Полупрозрачный фон */
    border: 2px solid #9e6728; 
    border-radius: 0.625em; 
    max-width: 40.5em; /* 600px */
    object-fit: cover; /* Изображение заполняет контейнер, обрезая лишнее */
    transition: transform 0.3s ease; /* Добавлено плавное изменение */
    display: block;
}

.new-card {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(65, 37, 4, 0.2);
    border-top: 4px solid #935207;
    border-radius: 50%;
    animation: spin 1s linear infinite, fade-out 4s forwards; /* Анимация исчезновения через 4 секунды */
    z-index: 2; /* Лоадер над изображением */
}

@keyframes spin { /* Анимация вращения */
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fade-out { /* Анимация исчезновения лоадера */
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0; /* Изначально скрыто */
    animation: fade-in 0.5s ease 4s forwards; /* Появляется через 4 секунды */
    position: relative;
    z-index: 1;
}

@keyframes fade-in { /* Анимация появления картинки */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content-caption {
    opacity: 0; /* Скрыто изначально */
    animation: fade-in 0.5s ease 4s forwards; /* Появление через 4 секунды */
}

.flex-item img:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

.flex-item figcaption {
    color: #9e4f22;
    background-color: #f2d097;
    padding: 0.525em; /* Отступы вокруг текста */
    border: 2px solid #654d30;
    border-radius: 5px;
    max-width: 40.5em;
    width: 100%;
    height: auto;
    text-align: justify;
}

footer {
    background-color:  rgba(238, 199, 121, 0.3);
    text-align: center;
    padding: 10px 0;
}